/* You can add global styles to this file, and also import other style files */

html{
  background-image: url("assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body{
  background-color: transparent !important;
}
