<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/mainstudent">Main</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkupSign">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/consultationsign">Zapisz na konsultacje<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/consultationhistory">Twoje konsultacje<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" routerLink="/changepass">Zmień hasło<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
<p>
  change-password works!
</p>
