
<div class="container">
    <div class="jumbotron text-center">
        <h1> System zapisu na konsultacje</h1>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="container">
                <form class="form-horizontal" role="form" method="POST" action="/login">               
                    <div>
                        <router-outlet> </router-outlet>
                    </div>

                    
                </form>
            </div>
        </div>
        <div class="col-sm-4">
            <img width="256" src="assets/images/login.png" />
            <br /><br />
        </div>
    </div>
</div>

