<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/mainstudent', user.username, user.password]" skipLocationChange>Main</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkupSign">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['/consultationsign', user.username, user.password]" skipLocationChange>Zapisz na konsultacje<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" [routerLink]="['/consultationhistory', user.username, user.password]" skipLocationChange>Twoje konsultacje<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" [routerLink]="['/consultationcreate', user.username, user.password]" skipLocationChange>Utwórz konsultację<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" [routerLink]="['/consultationarchiwe', user.username, user.password]" skipLocationChange>Archiwum<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" [routerLink]="['/changepass', user.username, user.password]" skipLocationChange>Zmień hasło<span class="sr-only">(current)</span></a>
    </div>
    <div class="navbar-right navbar-nav">
      <a class="nav-item nav-link active" [routerLink]="['/login']" skipLocationChange>Wyloguj {{user.username}}<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>
