.text-input {
    border-radius: 30px;
    text-align: center;
    width: 80%;
    height: 50px;
    border: 2px grey solid;
    outline: none;
    margin: 10px;
  }
  
  .button-input{
    border-radius: 30px;
    text-align: center;
    width: 40%;
    height: 50px;
    border: 2px grey solid;
    background-color: rgb(127,255,0);
    outline: none;
    margin: 10px;
    box-shadow: inset -1px -1px 8px;
  }
  .button-input:hover {
    background-color: rgb(120,240,0);
  }
  .button-input:active{
    box-shadow: inset 1px 1px 8px;
    padding: 2px 0px 0px 2px;}
  
  .register-box{
    background-color: rgba(0.5,0.5,0.5,0.2);
    border-radius: 20px;
    width: 90%;
    max-width: 700px;
    vertical-align: center;
    margin: auto;
    margin-top: 50px;
  
  }
  