.konsultaja{
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  background-color: rgba(100,100,100,.5);
  margin: 10px;
}

.pozycja{
  display: inline-block;
}

.lab{
  display: inline-block;
  font-weight: bold;
  color: white;
  margin-right: 2px;
}
.value{
  display: inline-block;
  color: white;
}
