<app-main-strip-tutor></app-main-strip-tutor>
<h2>Zarezerwowane konsultacje</h2>
<hr>
<div *ngIf="collection.length">
  <div *ngFor="let item of collection; index as i"  class="pozycja">
    <div *ngIf="(item.tutor.username == this.user.username) && (item.status == 'FREE')" class="konsultaja_wolna">
        <p class="lab">sala:</p>
        <p class="value">{{item.room}}</p><br>
        <p class="lab">status: </p>
        <p class="value">{{item.status}}</p><br>
        <p class="lab">data: </p>
        <p class="value">{{item.date | date:'dd-MM-yyyy'}}</p><br>
        <p class="lab">od: </p>
        <p class="value">{{item.consultationStartTime | date: 'HH:mm'}}</p>
        <span style="margin: 3px;"></span>
        <p class="lab">do: </p>
        <p class="value">{{item.consultationEndTime | date: 'HH:mm'}}</p><br>
        <button  (click)="cancel(i)" type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i>Anuluj</button>
    </div>
    <div  *ngIf="(item.tutor.username == this.user.username) && (item.status == 'RESERVED')" class="konsultaja_zajeta">
        <p class="lab">sala:</p>
        <p class="value">{{item.room}}</p><br>
        <p class="lab">student: </p>
        <p class="value">{{item.student.name}} {{item.student.surname}}</p><br>
        <p class="lab">data: </p>
        <p class="value">{{item.date | date:'dd-MM-yyyy'}}</p><br>
        <p class="lab">od: </p>
        <p class="value">{{item.consultationStartTime | date: 'HH:mm'}}</p>
        <span style="margin: 3px;"></span>
        <p class="lab">do: </p>
        <p class="value">{{item.consultationEndTime | date: 'HH:mm'}}</p><br>
        <button  (click)="cancel(i)" type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i>Odwołaj</button>
    </div>
  </div>
</div>
<div *ngIf="!(collection.length)">
  Brak konsultacji
</div>
