<app-main-strip-tutor></app-main-strip-tutor>
<h2>Proponowane konsultacje</h2>
<hr>
<div *ngIf="collection.length">
  <div *ngFor="let item of collection; index as i"  class="pozycja">
    <div class="konsultaja_wolna">
        <p class="lab">sala:</p>
        <p class="value">{{item.room}}</p><br>
        <p class="lab">student: </p>
        <p class="value">{{item.student.name}} {{item.student.surname}}</p><br>
        <p class="lab">data: </p>
        <p class="value">{{item.date | date:'dd-MM-yyyy'}}</p><br>
        <p class="lab">od: </p>
        <p class="value">{{item.consultationStartTime | date: 'HH:mm'}}</p>
        <span style="margin: 3px;"></span>
        <p class="lab">do: </p>
        <p class="value">{{item.consultationEndTime | date: 'HH:mm'}}</p><br>
        <button  (click)="accept(i)" type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i>Akceptuj</button>
    </div>
  </div>
</div>
<div *ngIf="!(collection.length)">
  Brak ofert konsultacji
</div>